* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 253, 244);
    background: linear-gradient(90deg, rgba(255, 253, 244, 1) 1%, rgba(34, 135, 187, 1) 53%, rgba(100, 174, 139, 1) 100%);
}

h1 {
    justify-content: center;
    font-size: 82px;
    text-align: center;
    padding-top: 50vh;
}

#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#box {
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
    height: 470px;
    width: 450px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -300px;
    margin-left: 540px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px dotted #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    border-radius: 10px;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}